/* a.navLinks.active {
    color: #8c52ff;
} */
html {
    /* background: black; */
}


body {
    margin: 0px;
}

a.nav-link {
    color: white;
    font-family: 'Roboto' !important;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}


a.nav-link:hover {
    color: #8c52ff;
}


#contact.nav-link {
    /* color: white !important; */
    /* border-radius: 30px; */
    /* background: white; */
    /* width: 130px; */
    text-align: center;
}

/* 'Roboto', sans-serif */
.navbar-brand {
    margin: 10px;
    font-family: 'Roboto' !important;
    font-size: 100px !important;
    color: #DAA06D	 !important; /*buff brown */
    width: 100% !important;
    padding: 50px;
}


.centered {
    height: 10vh; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;
  }

.headline {
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 100vh; */
    /* width: 100%; */
    /* display: flex; */
    /* text-align: center; */
    background-color: black;
    /* height: 325px; */
    width: 100%;
    padding: 30px;
}

.tagline {
    margin-top: 1.5rem;
    margin-bottom: 0.2rem;
    /* line-height:0; */
    text-align: center;
    color: #8c52ff;
    padding-bottom: 10px;
    font-family: 'Roboto' !important;
}

.headline h1 {
    font-size: 6.9vw !important;
}

.headline p {
    font-size:1.5vw !important;
}

.container .navbar {
    background-color: black;
    /* padding-top: 0px !important; */
}

.brand-a {
    font-family: 'Roboto' !important;
    font-size: 100px !important;
    color: #8c52ff	 !important; /*buff brown */
    width: 100% !important;
    padding: 50px;
    margin: 0px;
    text-decoration: none !important;
    padding-top: 0px;
    /* justify-content: center;
    align-items: center; */
    text-align: center;
}

.brand-h1 {
    margin-top: 0px;
    width: 100%;
    text-align: center;
}

h5 {
    /* width: 75%;  */
    border-bottom: 5px solid #f8fcfd; 
    line-height: 0px;
    margin: 5px 0 10px; 
    /* color: #a6a6a6; */
    /* display: block; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* opacity: 0.3; */
    /* color: rgba(166, 166, 166)	 !important;  */

}


h4 span {
    background:white; 
    padding:0 10px; 
    /* color: #a6a6a6	 !important;  */
    color: #8c52ff	 !important; 
    font-family: 'Roboto' !important;
    /* opacity: 0.6; */
}


@media only screen and (min-width: 992px) {
    .navbar {
        flex-direction: column;
    }

    .navbar .navbar-nav {
        /* border-bottom */
    }
}

.navbar .navbar-nav {
    margin-top: 0.5em;
    /* border-top: 2px  */
}


.container-fluid {
    width: 75%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding: 50 50 50 50;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}



/* .card {
    margin: 10px;
} */


/* .col {
    flex: 2 0 0%;
    float: left;
    width: 33%;
    padding: 0 10px;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
} */

.brand-footer {
    font-family: 'Roboto' !important;
    font-size: 30px !important;
    color: #8c52ff	 !important; /*buff brown */
    /* height: 40px; */
    width: 100% !important;
    /* padding: 20px; */
    text-decoration: none !important;
}

.container.contact {
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;

}

.fa-brands {
    color: white;
}

a:hover .fa-brands {
    color: #8c52ff;
}




.solutions h1 {
    color: black;
    font-size: 20px;
}

.solutions {
    /* height: 500px; */
    background-color: white;
    border-top: 1px solid #8c52ff;
    padding: 10px;
    /* width: 75%; */
}



/* div.projectsContainer.container-fluid {
    margin: 100px !important;
} */

.container-fluid h1 {
    font-family: 'Roboto' !important;

}



.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
    display: none;
}
  
  .react-horizontal-scrolling-menu--scroll-container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
  

.solution {
    /* height: 300px; */
    /* border: 1px solid black;  */
    margin: 5px;
    background-color: #f8fcfd;
}

h5.card-title {
    color:#8c52ff;
    border-bottom: none;
    /* text-align: center;
    height: 0.5rem; */
}

p.card-text {
    color: black;
}

div.statement {
    height: auto;
}

div.row.sameHeight {
    /* display: grid; */
    /* grid-auto-flow: column; */
    /* margin:0px; */
    /* gap: 5%; */
    /* display: flex;
    justify-content: space-between; */
    height: auto;
    margin-bottom: 50px;
}

div.col-lg.sameHeight {
    /* display: grid;
    grid-auto-flow: column; */
    /* flex-basis: 30%; */
    /* box-sizing: border-box; */
    /* border: solid; */
}

.sameHeightCard {
    height: 100%;
    height: 200px;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    margin: 0px;
}

.block-1 {
    height: auto;
    /* width: 100%; */
}

.block-2 {
    padding: 0px;
    /* width: 100%; */
}



ul {
    list-style-type: none;
    font-size: 18px !important;
}

.fa-circle-check {
    color: #8c52ff;
}

li {
    margin: 10px 0;
}


.footer-top  {
    /* border-top: 1px solid #8c52ff; */
    background-color: black;
    color: white;
}

.footer-bottom {
    /* border-top: 1px solid #8c52ff; */
    /* background-color: rgb(39, 39, 39); */
    /* color: white; */
    background: #f8fcfd;
    color: black;
    /* height: 70px; */
}


.footer-top .container {
    padding-top: 20px;
    padding-bottom: 40px;
}

.button, .btn {
    margin: auto;
    display: block;
}

.btn-outline-primary {
    background-color: #8c52ff !important;
    color: white !important;
    align-items: center;
    justify-content: center;

}



.btn-outline-primary:hover, .btn-outline-primary:active {
    background-color: #732cff !important;
    /* background-color: #8c52ff !important; */

    /* color: grey !important; */
}


.Content__Font-sc-3sh3bs-0 a,  pTCcq a {
    /* display:none; */
    visibility: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

